<div class="dialog">
    <div class="inner">
        <h1>GiEffektivt.no</h1>
        <h2>Endre passord</h2>
        <p>Hei {{firstName}}! <br>Her kan du endre ditt passord, skriv inn et nytt passord nedenfor.</p>

        <form id="pwdForm" action="" method="post">
            <div>
                <input id="pwd1" name="password" type="password" placeholder="Nytt passord"></input>
                <input id="pwd2" type="password" placeholder="Gjenta passord"></input>
            </div>

            <input id="saveBtn" type="submit" class="btn" value="Lagre">
        </form>
    </div>

    <div id="error"></div>
    <div class="help">Jeg trenger hjelp</div>
</div>

<script>
document.getElementById('pwdForm').addEventListener("submit", function(e) {
    var errorElement = document.getElementById("error");
    var pwd1 = document.getElementById('pwd1').value;
    var pwd2 = document.getElementById('pwd2').value;

    if (pwd1 != pwd2) {
        errorElement.innerHTML = "Passordene er ikke like";
        errorElement.style.display = "block";
        e.preventDefault();
    } else if (pwd1.length < 6) {
        errorElement.innerHTML = "Passordet er under 6 tegn";
        errorElement.style.display = "block";
        e.preventDefault();
    }
});
</script>

{{#yield-styles}}
  <link rel="stylesheet" type="text/css" href="/style/auth/changePass.css"></link> 
{{/yield-styles}}