<div class="dialog">
    <div class="inner">
        <h1>GiEffektivt.no</h1>
        <h2>Endre passord</h2>
        <p>Hei {{firstName}}! <br>Her kan du endre ditt passord, skriv inn et nytt passord nedenfor.</p>

        <form action="/" method="post">
            <div>
                <input type="password" placeholder="Nytt passord"></input>
                <input type="password" placeholder="Gjenta passord"></input>
            </div>
            <input type="submit" class="btn" value="Lagre">
        </form>
    </div>

    <div class="help">Jeg trenger hjelp</div>
</div>