<div class="dialog">
    <h1>GiEffektivt.no . Autorisasjon</h1>
    <p>Applikasjonen <strong>{{applicationName}}</strong> ønsker tilgang til din informasjon his gieffektivt.no.</p>

    <form action="/" method="post">
        <input type="text" placeholder="email"></input>
        <input type="password" placeholder="passord"></input>
        <input type="submit" value="Logg inn">
    </form>
</div>