DB_NAME='EffektDonasjonDB_Local'
DB_USER='root'
DB_PASS='effekt'
ALLOWED_PRODUCTION_ORIGINS='http://localhost:3000'

# Keep in sync with values configured in Auth0
AUTH_AUDIENCE=https://data.gieffektivt.no
AUTH_BASE_URL=https://gieffektivt.eu.auth0.com/
AUTH_USER_ID_CLAIM=https://gieffektivt.no/user-id
