DB_HOST='localhost'
DB_NAME='EffektDonasjonDB_Local'
DB_USER='root'
DB_PASS='effekt'
DB_URL="mysql://${DB_USER}:${DB_PASS}@${DB_HOST}/${DB_NAME}"

ALLOWED_PRODUCTION_ORIGINS='http://localhost:3000'

# Keep in sync with values configured in Auth0
AUTH_AUDIENCE=https://data.gieffektivt.no
AUTH_BASE_URL=https://gieffektivt.eu.auth0.com/
AUTH_USER_ID_CLAIM=https://gieffektivt.no/user-id

# Values for Sweden
# AUTH_AUDIENCE=geeffektivt.se
# AUTH_BASE_URL=https://geeffektivt.eu.auth0.com/
# AUTH_USER_ID_CLAIM=https://geeffektivt.se/user_id
