DB_HOST='localhost'
DB_NAME='EffektDonasjonDB_Local'
DB_USER='root'
DB_PASS='effekt'
DB_URL="mysql://${DB_USER}:${DB_PASS}@${DB_HOST}/${DB_NAME}"

K_SERVICE=''
CLOUD_SQL_CONNECTION_NAME=''

ALLOWED_PRODUCTION_ORIGINS='http://localhost:3000'

# Keep in sync with values configured in Auth0
AUTH_AUDIENCE=https://data.gieffektivt.no
AUTH_BASE_URL=https://gieffektivt.eu.auth0.com/
AUTH_USER_ID_CLAIM=https://gieffektivt.no/user-id
AUTH_USER_METADATA_KEY=gieffektivt-user-id

# Values for Sweden
# AUTH_AUDIENCE=geeffektivt.se
# AUTH_BASE_URL=https://geeffektivt.eu.auth0.com/
# AUTH_USER_ID_CLAIM=https://geeffektivt.se/user_id

VIPPS_CLIENT_ID=''
VIPPS_CLIENT_SECRET=''
VIPPS_MERCHANT_SERIAL_NUMBER=''
VIPPS_OCP_APIM_SUBSCRIPTION_KEY=''

NETS_SFTP_SERVER=''
NETS_SFTP_USER=''
NETS_SFTP_PRIVATE_KEY=''
NETS_SFTP_PRIVATE_KEY_LOCATION=''
NETS_SFTP_PRIVATE_KEY_PASSPHRASE=''

MAILERSEND_API_KEY=''
MAILCHIMP_API_KEY=''
MAILCHIMP_SERVER=''
MAILCHIMP_AUDIENCE_ID=''

# Mailersend templates
MAILERSEND_DONATION_RECEIPT_TEMPLATE_ID=''
MAILERSEND_DONATION_REGISTERED_TEMPLATE_ID=''
MAILERSEND_AVTALEGIRO_NOTIFICATION_TEMPLATE_ID=''

FACEBOOK_SYNC_APP_ID=''
FACEBOOK_SYNC_APP_SECRET=''

BANK_ACCOUNT=''
NETS_CUSTOMER_ID=''

SERVER_ADDRESS=''
AUTH_REQUIRED='true'

EFFEKT_PORT='5050'
EFFEKT_HOST='localhost'

MIN_SIDE_URL='http://localhost:3000'
EFFEKT_API_URL='http://localhost:5050'

SWISH_CERT=''
SWISH_CERT_KEY=''
SWISH_PAYEE_ALIAS=''
