<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="/style/base.css"></link>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {{{yield-styles}}}
        {{{yield-scripts}}}
    </head>
    <body>
    {{{ yield }}}
    </body>
</html>