@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
html, body {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-content: center;
  align-items: center; }

#donation-widget-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-content: center;
  align-items: center;
  transition: all 200ms;
  background: transparent; }
  #donation-widget-container.active {
    background: rgba(0, 0, 0, 0.8); }

#donation-widget {
  width: 320px;
  height: 300px;
  background: white;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.05);
  position: relative;
  font-family: 'Open Sans', sans-serif;
  transition: all 300ms;
  transform: scale(0.9);
  opacity: 0;
  /* General css settings */ }
  #donation-widget.active {
    opacity: 1;
    transform: scale(1); }
  #donation-widget .close-btn {
    position: absolute;
    top: 0;
    right: -42px;
    background-image: url(https://api.gieffektivt.no/static//close-button.svg);
    width: 14px;
    height: 14px;
    padding: 10px;
    z-index: 1000000000;
    display: block;
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer; }
  #donation-widget > .inner {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; }
  #donation-widget .slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    white-space: nowrap;
    transition: transform 300ms;
    /* To eliminate space between empty inline panes */
    font-size: 0px; }
    #donation-widget .slider .pane {
      font-size: normal;
      position: relative;
      height: 100%;
      background: white;
      display: inline-block;
      vertical-align: middle; }
      #donation-widget .slider .pane .inner > input[type="text"], #donation-widget .slider .pane input[type="number"] {
        background: #eee;
        color: #222;
        border: none;
        padding: 20px;
        width: 180px;
        font-size: 16px;
        margin: 0 auto;
        display: block;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif; }
      #donation-widget .slider .pane .select-on-click {
        cursor: pointer; }
      #donation-widget .slider .pane h3 {
        font-weight: 300;
        text-align: center;
        margin-top: 24px;
        margin-bottom: 24px;
        font-size: 24px;
        text-transform: none;
        letter-spacing: 0px;
        font-family: 'Open Sans'; }
      #donation-widget .slider .pane .btn {
        position: absolute;
        bottom: 30px;
        width: 30px;
        height: 30px;
        border: 2px solid #2196F3;
        border-radius: 50%;
        cursor: pointer;
        padding: 7px;
        box-sizing: border-box;
        opacity: 1;
        transition: all 200ms; }
        #donation-widget .slider .pane .btn.back {
          left: calc(50% - 30px - 4px); }
          #donation-widget .slider .pane .btn.back .arrowImage {
            transform: rotate(180deg); }
        #donation-widget .slider .pane .btn.frwd {
          right: calc(50% - 30px - 4px); }
        #donation-widget .slider .pane .btn.lonely {
          right: calc(50% - 15px - 2px); }
        #donation-widget .slider .pane .btn.inactive {
          opacity: .2; }
        #donation-widget .slider .pane .btn:hover {
          padding-left: 10px; }
        #donation-widget .slider .pane .btn img.arrowImage {
          width: 12px;
          height: 12px; }
        #donation-widget .slider .pane .btn img.loadingImage {
          width: 18px;
          height: 18px;
          position: absolute;
          top: 4px;
          left: 4px;
          display: none;
          animation: spin 300ms infinite linear; }
        #donation-widget .slider .pane .btn.loading img.arrowImage {
          display: none; }
        #donation-widget .slider .pane .btn.loading img.loadingImage {
          display: inline-block; }
      #donation-widget .slider .pane.hidden {
        display: none; }
      #donation-widget .slider .pane.basic input.name {
        margin-bottom: 10px; }
      #donation-widget .slider .pane.basic input.email {
        margin-bottom: 20px; }
      #donation-widget .slider .pane.amount {
        text-align: center; }
        #donation-widget .slider .pane.amount .amount-wrapper {
          position: relative;
          display: inline-block;
          margin-top: 20px;
          margin-bottom: 10px; }
          #donation-widget .slider .pane.amount .amount-wrapper .currency {
            position: absolute;
            display: inline-block;
            top: 20px;
            right: 20px;
            font-size: 16px;
            font-weight: 300;
            color: #aaa; }
        #donation-widget .slider .pane.amount .select-split {
          font-size: 10px;
          text-align: center;
          padding-top: 8px;
          color: #aaa;
          user-select: none; }
          #donation-widget .slider .pane.amount .select-split > * {
            vertical-align: middle;
            cursor: pointer; }
          #donation-widget .slider .pane.amount .select-split label.box {
            width: 9px;
            height: 9px;
            background: white;
            border: 2px solid white;
            box-shadow: 0 0 0 1px #aaa;
            cursor: pointer;
            display: inline-block;
            cursor: pointer;
            margin-left: 6px; }
          #donation-widget .slider .pane.amount .select-split input {
            display: none; }
            #donation-widget .slider .pane.amount .select-split input:checked + label {
              background: #2196F3; }
      #donation-widget .slider .pane.shares h3 {
        margin-bottom: 6px; }
      #donation-widget .slider .pane.shares .share-distribution .mode-switch {
        width: 60px;
        height: 26px;
        background: #f4f4f4;
        font-size: 0;
        position: relative;
        margin: 12px auto;
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
        z-index: 1;
        overflow: hidden; }
        #donation-widget .slider .pane.shares .share-distribution .mode-switch span {
          width: 50%;
          display: inline-block;
          font-size: 10px;
          text-align: center;
          position: relative;
          z-index: 10;
          padding: 0; }
          #donation-widget .slider .pane.shares .share-distribution .mode-switch span.absolute {
            color: white; }
          #donation-widget .slider .pane.shares .share-distribution .mode-switch span.percentage {
            color: #222; }
        #donation-widget .slider .pane.shares .share-distribution .mode-switch .selector {
          position: absolute;
          top: 0;
          left: -2px;
          padding: 0;
          width: 50%;
          height: 100%;
          background: #222;
          transition: transform 200ms; }
          #donation-widget .slider .pane.shares .share-distribution .mode-switch .selector::after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 26px 8px 0 0;
            border-color: #222 transparent transparent transparent;
            position: absolute;
            top: 0;
            right: -8px; }
          #donation-widget .slider .pane.shares .share-distribution .mode-switch .selector::before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 26px 8px;
            border-color: transparent transparent #222 transparent;
            position: absolute;
            top: 0;
            left: -8px; }
        #donation-widget .slider .pane.shares .share-distribution .mode-switch.switched .selector {
          transform: translateX(calc(100% + 4px)); }
        #donation-widget .slider .pane.shares .share-distribution .mode-switch.switched span.absolute {
          color: #222; }
        #donation-widget .slider .pane.shares .share-distribution .mode-switch.switched span.percentage {
          color: white; }
      #donation-widget .slider .pane.shares .share-distribution ul.organizations {
        padding: 0;
        margin: 0;
        text-align: center; }
        #donation-widget .slider .pane.shares .share-distribution ul.organizations li {
          margin-top: 10px;
          position: relative;
          left: -30px; }
          #donation-widget .slider .pane.shares .share-distribution ul.organizations li:first-child {
            margin-top: 0; }
          #donation-widget .slider .pane.shares .share-distribution ul.organizations li > * {
            display: inline-block;
            vertical-align: middle; }
          #donation-widget .slider .pane.shares .share-distribution ul.organizations li .logo {
            width: 74px;
            height: 56px;
            display: inline-block;
            position: relative;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center right;
            margin-right: 10px; }
          #donation-widget .slider .pane.shares .share-distribution ul.organizations li .info {
            cursor: pointer;
            width: 14px;
            height: 14px;
            background-image: url(https://api.gieffektivt.no/static//help.svg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            opacity: .3;
            margin-right: 10px; }
          #donation-widget .slider .pane.shares .share-distribution ul.organizations li span {
            font-size: 12px;
            text-align: right;
            width: 120px;
            margin-right: 8px; }
          #donation-widget .slider .pane.shares .share-distribution ul.organizations li .input-wrapper {
            position: relative; }
            #donation-widget .slider .pane.shares .share-distribution ul.organizations li .input-wrapper input {
              padding: 10px;
              font-size: 12px;
              color: #222;
              width: 36px;
              font-family: 'Open Sans';
              background: #eee;
              border: none;
              text-align: center;
              position: relative;
              z-index: 10; }
            #donation-widget .slider .pane.shares .share-distribution ul.organizations li .input-wrapper::before {
              content: 'kr';
              position: absolute;
              right: -20px;
              top: 5px;
              color: #aaa;
              font-size: 12px;
              font-family: 'Open Sans';
              opacity: 1;
              transition: all 200ms; }
            #donation-widget .slider .pane.shares .share-distribution ul.organizations li .input-wrapper::after {
              content: '%';
              position: absolute;
              right: 0;
              top: 5px;
              color: #aaa;
              font-size: 12px;
              font-family: 'Open Sans';
              opacity: 0;
              transition: all 200ms; }
        #donation-widget .slider .pane.shares .share-distribution ul.organizations.percentage-mode .input-wrapper::before {
          transform: translateX(-20px);
          opacity: 0; }
        #donation-widget .slider .pane.shares .share-distribution ul.organizations.percentage-mode .input-wrapper::after {
          transform: translateX(20px);
          opacity: 1; }
      #donation-widget .slider .pane.shares .share-distribution .total {
        display: block;
        font-size: 12px;
        margin: 2px auto;
        text-align: center;
        color: #aaa;
        opacity: 1;
        transition: opacity 200ms; }
        #donation-widget .slider .pane.shares .share-distribution .total.total-hidden {
          opacity: 0; }
      #donation-widget .slider .pane.result {
        font-size: 12px;
        text-align: center; }
        #donation-widget .slider .pane.result h4 {
          margin-top: 5px; }
        #donation-widget .slider .pane.result h3 {
          margin-bottom: 16px; }
        #donation-widget .slider .pane.result .heart {
          width: 48px; }
        #donation-widget .slider .pane.result .transfer-info {
          white-space: normal;
          font-weight: normal;
          line-height: 200%;
          background: #222;
          color: white; }
          #donation-widget .slider .pane.result .transfer-info label {
            display: inline-block;
            font-weight: 700;
            width: 120px;
            text-align: right;
            vertical-align: middle; }
          #donation-widget .slider .pane.result .transfer-info span {
            display: inline-block;
            vertical-align: middle;
            letter-spacing: 1px;
            width: 120px;
            text-align: left;
            padding: 5px;
            margin: 4px 0; }
        #donation-widget .slider .pane.result .email-text {
          margin-top: 10px;
          display: block;
          width: 100%;
          padding: 18px;
          font-weight: normal;
          box-sizing: border-box;
          white-space: normal;
          padding-bottom: 10px; }
  #donation-widget .error {
    position: absolute;
    width: 100%;
    background: rgba(217, 10, 10, 0.85);
    bottom: -28px;
    left: 0;
    height: 28px;
    color: #fff;
    transition: transform 100ms;
    font-size: 10px;
    text-align: center;
    padding: 5px;
    box-sizing: border-box; }
    #donation-widget .error.active {
      transform: translateY(-28px); }
  #donation-widget #no_api_error {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(235, 0, 0, 0.95);
    color: white;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    transform: scale(1.1);
    opacity: 0;
    transition: all 200ms; }
    #donation-widget #no_api_error p {
      font-size: 13px;
      text-align: left;
      width: 210px;
      margin: 0 auto;
      line-height: 160%; }
    #donation-widget #no_api_error h3 {
      margin-top: 0px; }
    #donation-widget #no_api_error.active {
      opacity: 1;
      transform: scale(1); }
  #donation-widget .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: width 200ms;
    height: 6px;
    background: #2196F3;
    transition: width 200ms; }
  #donation-widget input[type="number"]::-webkit-outer-spin-button,
  #donation-widget input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  #donation-widget input[type="number"] {
    -moz-appearance: textfield; }

/* Animations */
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
