<div class="dialog">
    <div class="inner">
        <h1>GiEffektivt.no</h1>
        <h2>Passord endret</h2>
        <p>Passordet ditt er nå oppdatert!</p>

        <img src="/img/happy_robot.jpg" class="happyRobot" />
    </div>

    <div class="help">Jeg trenger hjelp</div>
</div>

{{#yield-styles}}
  <link rel="stylesheet" type="text/css" href="/style/auth/changedPass.css"></link> 
{{/yield-styles}}